<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>Blynk</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <display-name>InitiateTracker</display-name>
    <servlet-name>InitiateTracker</servlet-name>
    <servlet-class>com.scolere.blynked.web.controller.InitiateTracker</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InitiateTracker</servlet-name>
    <url-pattern>/InitiateTracker</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TrackUser</display-name>
    <servlet-name>TrackUser</servlet-name>
    <servlet-class>com.scolere.blynked.web.controller.TrackUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TrackUser</servlet-name>
    <url-pattern>/TrackUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MapLocator</servlet-name>
    <servlet-class>com.scolere.blynked.web.controller.MapLocator</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MapLocator</servlet-name>
    <url-pattern>/locate/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UploadController</servlet-name>
    <servlet-class>com.scolere.blynked.web.controller.UploadController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadController</servlet-name>
    <url-pattern>/uploadController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getValidNumber</servlet-name>
    <servlet-class>com.scolere.blynked.web.controller.getValidNumber</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getValidNumber</servlet-name>
    <url-pattern>/getValidNumber</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateSettingController</servlet-name>
    <servlet-class>com.scolere.blynked.web.controller.UpdateSettingController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateSettingController</servlet-name>
    <url-pattern>/updateSettingController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StopShare</servlet-name>
    <servlet-class>com.scolere.blynked.web.controller.StopShare</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StopShare</servlet-name>
    <url-pattern>/StopShare</url-pattern>
  </servlet-mapping>
    <servlet>
    <servlet-name>GetLocationByImeiNo</servlet-name>
    <servlet-class>com.scolere.blynked.web.controller.GetLocationByImeiNo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetLocationByImeiNo</servlet-name>
    <url-pattern>/getLocationByImeiNo</url-pattern>
  </servlet-mapping>
</web-app>